<h1>Stats for '<%= @campaign_title %>'</h1>

<% @rows.each do |row| %>
  <li>Choice: <%= row.choice %>, votes: <%= row.count %>, validity: <%= row.validity %></li>
<% end %>

<p><b>Campaign Votes Stats</b></p>
<li>pre <%= @stats['pre'] %></li>
<li>during <%= @stats['during'] %></li>
<li>post <%= @stats['post'] %></li>
<li>total <%= @stats['total'] %></li>

<a href="/">All Campaigns</a>
